* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  font-size: 1.125rem;
  font-family: "Barlow";
  box-sizing: border-box; }

.menuDesktop {
  display: none;
  font-family: "Barlow Condensed";
  width: 75%;
  position: absolute;
  right: 2%;
  top: 0;
  height: auto;
  float: right;
  justify-content: flex-end;
  list-style: none; }
  @media (min-width: 900px) and (max-width: 2500px) {
    .menuDesktop {
      display: block;
      display: inline-flex;
      margin: 0;
      padding: 1% 0; } }
  .menuDesktop il {
    padding-right: 4%; }
  .menuDesktop il a {
    text-decoration: none;
    font-weight: 700;
    cursor: pointer; }
  .menuDesktop il a:hover {
    text-decoration: underline; }
  .menuDesktop il .log a {
    color: #5b5f71; }
  .menuDesktop .cercle {
    color: #5b5f71; }

input[type=checkbox] {
  display: none; }

.logo {
  margin: 1% 5%; }

.burger,
.close {
  float: right;
  margin: 1% 5%; }
  @media (min-width: 900px) and (max-width: 2500px) {
    .burger,
    .close {
      display: none; } }

.close {
  visibility: hidden;
  margin-right: -40px; }

.dropdown {
  position: absolute;
  z-index: 1111;
  width: 100%;
  margin: 10% auto; }

ul {
  display: none;
  z-index: 1111;
  text-align: center;
  list-style: none;
  letter-spacing: 2px;
  width: 90%;
  height: 29vh;
  margin: auto;
  margin-top: 10%;
  background: white;
  padding-top: 3%;
  box-shadow: 0px 3px 16px -3px rgba(0, 0, 0, 0.75); }
  @media (min-width: 900px) and (max-width: 2500px) {
    ul {
      display: none;
      background: none;
      box-shadow: none; } }
  ul li {
    padding: 9px 0;
    align-content: center; }
    ul li a {
      text-decoration: none;
      color: black;
      font-weight: 700; }
    ul li a:hover {
      text-decoration: underline; }

input[type=checkbox]:checked ~ ul {
  display: block; }

input[type=checkbox]:checked ~ .burger {
  visibility: hidden; }

input[type=checkbox]:checked ~ .close {
  visibility: visible; }

input[type=checkbox]:checked ~ .menuDesktop {
  visibility: hidden; }

.contentImg {
  position: absolute;
  width: 50%;
  height: 60%;
  top: 0;
  right: 0;
  background: #eef3f6;
  z-index: -1111;
  border-radius: 0px 0px 0px 60px; }
  @media (min-width: 900px) and (max-width: 2500px) {
    .contentImg {
      height: 62%; } }
  @media (min-width: 601px) and (max-width: 899px) {
    .contentImg {
      height: 50%; } }
  @media (min-width: 290px) and (max-width: 355px) {
    .contentImg {
      height: 50%; } }

.container {
  width: 95%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: end; }
  @media (min-width: 900px) and (max-width: 2500px) {
    .container {
      margin-top: -4%;
      padding-top: 5%; } }

.bloc {
  position: absolute;
  width: 90vw;
  z-index: -11;
  right: 0;
  padding-left: 20px;
  overflow: hidden;
  margin-top: 35%; }
  @media (min-width: 900px) and (max-width: 2500px) {
    .bloc {
      width: 45%;
      margin-top: 19%; } }
  @media (min-width: 601px) and (max-width: 899px) {
    .bloc {
      width: 45%; } }
  .bloc__Img {
    width: 135%; }

.line-cer {
  width: 80%;
  margin: 0 auto;
  height: 2px;
  background: #eef3f6; }

.log a {
  color: #5b5f71; }

.content {
  font-family: 'Barlow', sans-serif;
  width: 100%;
  margin-top: 118%;
  font-size: 1em;
  padding-left: 5%; }
  .content h6 {
    width: 100%; }
  @media (min-width: 900px) and (max-width: 2500px) {
    .content {
      width: 50vw;
      font-size: 1.9vw;
      margin-top: 20%; } }
  @media (min-width: 601px) and (max-width: 899px) {
    .content {
      width: 50%;
      margin-top: 35%;
      font-size: .8em; } }
  @media (min-width: 426px) and (max-width: 600px) {
    .content {
      width: 100%;
      margin-top: 105%; } }

.blocTitle {
  display: inline-flex;
  width: 100%;
  letter-spacing: 4px;
  margin-bottom: 3%;
  align-content: center; }
  .blocTitle__back {
    background: black;
    color: white;
    height: 100%;
    padding: 2% 2%;
    border-radius: 20px;
    text-align: center; }
  .blocTitle__title1 {
    padding: 2%;
    padding-left: 6%;
    color: #a0a1ac;
    justify-content: center; }
    @media (min-width: 900px) and (max-width: 2500px) {
      .blocTitle__title1 {
        padding-left: 2%; } }

.blocTitle2 {
  width: 100%;
  margin-bottom: 6%; }
  .blocTitle2__para1 {
    font-size: 1.7em;
    font-weight: 700; }
    @media (min-width: 900px) and (max-width: 2500px) {
      .blocTitle2__para1 {
        font-size: 2em;
        font-weight: 700; } }
  .blocTitle2__para2 {
    margin-top: 3%;
    font-weight: 500;
    color: #a0a1ac; }

.blocbtn {
  width: 100%;
  display: inline-flex;
  margin-bottom: 10%; }
  .blocbtn button {
    background: #ff5c5c;
    border: none;
    width: 80vw;
    height: auto;
    justify-content: center;
    padding: 4% 3%;
    border-radius: 6px;
    color: white;
    font-size: .7rem;
    font-weight: 700; }
    @media (min-width: 900px) and (max-width: 2500px) {
      .blocbtn button {
        width: 30vw;
        font-size: .7em;
        font-weight: 400;
        padding: 0;
        padding: 0; } }
    @media (min-width: 601px) and (max-width: 899px) {
      .blocbtn button {
        width: 50vw; } }
  .blocbtn h6 {
    color: #a0a1ac;
    letter-spacing: 2px;
    margin-left: 3%;
    padding: 2%;
    font-weight: 400; }
    @media (min-width: 900px) and (max-width: 2500px) {
      .blocbtn h6 {
        letter-spacing: 3px;
        margin-left: 1%; } }

footer {
  margin-bottom: 10%; }
