* {
  margin: 0;
  padding: 0; }

body {
  width: 375px;
  font-size: 18px;
  font-family: "Barlow";
  box-sizing: border-box; }

.dropdown {
  width: 100%;
  font-family: "Barlow Condensed"; }

input[type=checkbox] {
  display: none; }

.logo {
  margin: 20px; }

.burger,
.close {
  float: right;
  margin: 20px; }

.close {
  visibility: hidden;
  margin-right: -40px; }

.dropdown {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: 14px;
  margin-left: 8px; }

ul {
  display: none;
  z-index: 1111;
  text-align: center;
  list-style: none;
  letter-spacing: 2px;
  width: 90%;
  height: 30vh;
  margin: auto;
  margin-top: 5%;
  background: white;
  padding-top: 6%;
  box-shadow: 0px 3px 16px -3px rgba(0, 0, 0, 0.75); }
  ul li {
    padding: 9px 0; }
    ul li a {
      text-decoration: none;
      color: black;
      font-weight: 700; }
    ul li a:hover {
      text-decoration: underline; }

input[type=checkbox]:checked ~ ul {
  display: block; }

input[type=checkbox]:checked ~ .burger {
  visibility: hidden; }

input[type=checkbox]:checked ~ .close {
  visibility: visible; }

.contentImg {
  position: relative;
  width: 50%;
  height: 68vh;
  top: 0;
  right: -20px;
  float: right;
  background: #eef3f6;
  z-index: -1;
  border-radius: 0px 0px 0px 60px; }

.bloc {
  position: absolute;
  top: 18%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  padding-left: 20px;
  font-weight: 400; }
  .bloc__Img {
    margin-top: 6%;
    width: 135%; }

.line-cer {
  width: 80%;
  margin: 0 auto;
  height: 2px;
  background: #eef3f6; }

.log a {
  color: #5b5f71; }

.content {
  position: absolute;
  width: 100%;
  top: 70%;
  padding-left: 20px; }

.blocTitle {
  display: inline-flex;
  width: 100%;
  letter-spacing: 3px;
  margin-bottom: 3%; }
  .blocTitle__back {
    background: black;
    color: white;
    padding: 2%;
    border-radius: 20px; }
  .blocTitle__title1 {
    padding: 2%;
    padding-left: 6%;
    color: #a0a1ac; }

.blocTitle2 {
  width: 100%;
  margin-bottom: 8%; }
  .blocTitle2__para1 {
    font-size: 1.8rem;
    font-weight: 900; }
  .blocTitle2__para2 {
    margin-top: 3%;
    font-weight: 500;
    color: #a0a1ac; }

.blocbtn {
  width: 100%;
  display: inline-flex;
  margin-bottom: 10%; }
  .blocbtn button {
    background: #ff5c5c;
    border: none;
    width: 35%;
    padding: 3% 0;
    border-radius: 6px;
    color: white;
    font-size: .7rem; }
  .blocbtn h6 {
    color: #a0a1ac;
    letter-spacing: 2px;
    margin-left: 3%;
    padding: 2%; }

footer {
  margin-bottom: 10%; }
