* {
    margin: 0;
    padding: 0;
}

@mixin desktop {
    @media (min-width: 900px) and (max-width:2500px) {
        @content;
    }
}

@mixin tablette-pro {
    @media (min-width: 601px) and (max-width: 899px) {
        @content;
    }
}

@mixin tablette {
    @media (min-width: 426px) and (max-width: 600px) {
        @content;
    }
}

@mixin mobile-mini {
    @media (min-width: 290px) and (max-width: 355px) {
        @content;
    }
}

@import "./variables";
@import "./mixin";









body {
    width: 100%;
    font-size: 1.125rem;
    font-family: 'Barlow', ;
    box-sizing: border-box;

}

.menuDesktop {
    display: none;
    font-family: 'Barlow Condensed', ;
    width: 75%;
    position: absolute;
    right: 2%;
    top: 0;

    height: auto;
    float: right;
    justify-content: flex-end;
    list-style: none;


    @include desktop() {
        display: block;
        display: inline-flex;
        margin: 0;
        padding: 1% 0;



    }



    & il {
        padding-right: 4%;

    }

    & il a {
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
        color: black;


    }

    & il a:hover {
        text-decoration: underline;
    }

    & #log a {
        color: $GrayishBlue;

    }

    & .cercle {
        color: $GrayishBlue;

    }

}



input[type=checkbox] {
    display: none;

}

.logo {

    margin: 1% 5%;
}

.burger,
.close {
    float: right;
    margin: 1% 5%;

    @include desktop() {
        display: none;
    }
}

.close {
    visibility: hidden;
    margin-right: -40px;


}

.dropdown {
    position: absolute;
    z-index: 1111;
    width: 100%;
    margin: 10% auto;



}


ul {
    display: none;
    z-index: 1111;
    text-align: center;
    list-style: none;
    letter-spacing: 2px;
    width: 90%;
    height: 29vh;
    margin: auto;
    margin-top: 10%;
    background: $white;
    padding-top: 3%;

    box-shadow: 0px 3px 16px -3px rgba(0, 0, 0, 0.75);


    @include desktop() {
        display: none;
        background: none;
        box-shadow: none;

    }

    & li {
        padding: 9px 0;
        align-content: center;

        & a {
            text-decoration: none;
            color: black;
            font-weight: 700;
        }

        & a:hover {
            text-decoration: underline;
        }
    }

}

input[type=checkbox]:checked~ul {
    display: block
}

input[type=checkbox]:checked~.burger {
    visibility: hidden;
}

input[type=checkbox]:checked~.close {
    visibility: visible;
}

input[type=checkbox]:checked~.menuDesktop {
    visibility: hidden;
}


.contentImg {
    position: absolute;
    width: 50%;
    height: 60%;
    top: 0;
    right: 0;
    background: $LightGrayishBlue;
    z-index: -1111;
    border-radius: 0px 0px 0px 60px;

    @include desktop() {
        height: 62%;
    }

    @include tablette-pro() {
        height: 50%;
    }

    @include mobile-mini() {
        height: 50%;
    }




}

.container {
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;

    @include desktop() {
        margin-top: -4%;
        padding-top: 5%;
    }


}

.bloc {

    position: absolute;
    width: 90vw;
    z-index: -11;
    right: 0;
    padding-left: 20px;
    overflow: hidden;
    margin-top: 35%;

    @include desktop() {
        width: 45%;
        margin-top: 19%;
    }

    @include tablette-pro() {
        width: 45%;
    }



    &__Img {
        width: 135%;


    }
}

.line-cer {
    width: 80%;
    margin: 0 auto;
    height: 2px;
    background: $LightGrayishBlue;
}

.log a {
    color: $DarkGrayishBlue;





}

.content {
    font-family: 'Barlow', sans-serif;
    width: 100%;
    margin-top: 118%;
    font-size: 1em;
    padding-left: 5%;

    & h6 {
        width: 100%;
    }





    @include desktop() {
        width: 50vw;
        font-size: 1.9vw;
        margin-top: 20%;



    }

    @include tablette-pro() {
        width: 50%;
        margin-top: 35%;
        font-size: .8em;
    }

    @include tablette() {
        width: 100%;
        margin-top: 105%;
    }


}

.blocTitle {
    display: inline-flex;
    width: 100%;
    letter-spacing: 4px;
    margin-bottom: 3%;
    align-content: center;


    &__back {
        background: black;
        color: $white;
        height: 100%;
        padding: 2% 2%;
        border-radius: 20px;
        text-align: center;
        // margin-top: 1%;



    }

    &__title1 {
        padding: 2%;
        padding-left: 6%;
        color: $GrayishBlue;
        justify-content: center;


        @include desktop() {
            padding-left: 2%;
        }


    }
}

.blocTitle2 {
    width: 100%;
    margin-bottom: 6%;

    &__para1 {
        font-size: 1.7em;
        font-weight: 700;

        @include desktop() {
            font-size: 2em;
            font-weight: 700;
        }


    }

    &__para2 {
        margin-top: 3%;
        font-weight: 500;
        color: $GrayishBlue;
    }
}

.blocbtn {
    width: 100%;
    display: inline-flex;
    margin-bottom: 10%;

    & button {
        background: $Red;
        border: none;
        width: 80vw;
        height: auto;
        justify-content: center;
        padding: 4% 3%;
        border-radius: 6px;
        color: $white;
        font-size: .7rem;
        font-weight: 700;
        cursor: pointer;

        & :hover {
            background: rgb(248, 85, 85);
        }

        @include desktop() {
            width: 30vw;
            font-size: .7em;
            font-weight: 400;
            padding: 0;
            padding: 0;
        }

        @include tablette-pro() {
            width: 50vw;
        }


    }

    & h6 {
        color: $GrayishBlue;
        letter-spacing: 2px;
        margin-left: 3%;
        padding: 2%;
        font-weight: 400;

        @include desktop() {
            letter-spacing: 3px;
            margin-left: 1%;
        }
    }

}

footer {
    margin-bottom: 10%;
}