* {
    margin: 0;
    padding: 0;
}

@mixin mobile {
    @media (min-width: 800px) and (max-width:2500px) {
        @content;
    }
}

@mixin tablette {
    @media (min-width: 399px) and (max-width: 799px) {
        @content;
    }
}

@import "./variables";
@import "./mixin";









body {
    width: 100%;
    font-size: 1.125rem;
    font-family: 'Barlow', ;
    box-sizing: border-box;

}

.menuDesktop {
    display: none;
    font-family: 'Barlow Condensed', ;
    width: 75%;
    position: absolute;
    right: 2%;
    top: 0;

    height: auto;
    float: right;
    justify-content: flex-end;
    list-style: none;


    @include mobile() {

        display: block;

        display: inline-flex;



    }



    & il {
        padding-right: 4%;
    }

    & il a {
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;

    }

    & il a:hover {
        text-decoration: underline;
    }

    & il .log a {
        color: $DarkGrayishBlue;

    }

    & .cercle {
        color: $DarkGrayishBlue;

    }

}



input[type=checkbox] {
    display: none;

}

.logo {

    margin: 1% 5%;
}

.burger,
.close {
    float: right;
    margin: 1% 5%;

    @include mobile() {
        display: none;
    }
}

.close {
    visibility: hidden;
    margin-right: -40px;


}

.dropdown {
    position: absolute;
    z-index: 1111;
    width: 100%;
    margin: 10% auto;



}


ul {
    display: none;
    z-index: 1111;
    text-align: center;
    list-style: none;
    letter-spacing: 2px;
    width: 90%;
    height: 29vh;
    margin: auto;
    margin-top: 10%;
    background: $white;
    padding-top: 3%;

    box-shadow: 0px 3px 16px -3px rgba(0, 0, 0, 0.75);

    @include mobile() {
        display: none;
        background: none;
        box-shadow: none;

    }

    & li {
        padding: 9px 0;
        align-content: center;

        & a {
            text-decoration: none;
            color: black;
            font-weight: 700;
        }

        & a:hover {
            text-decoration: underline;
        }
    }

}

input[type=checkbox]:checked~ul {
    display: block
}

input[type=checkbox]:checked~.burger {
    visibility: hidden;
}

input[type=checkbox]:checked~.close {
    visibility: visible;
}

input[type=checkbox]:checked~.menuDesktop {
    visibility: hidden;
}


.contentImg {
    position: absolute;
    width: 50%;
    height: 60%;
    top: 0;
    right: 0;
    background: $LightGrayishBlue;
    z-index: -1111;
    border-radius: 0px 0px 0px 60px;

    @include mobile() {
        height: 62%;
    }






}

.container {
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;


}

.bloc {

    position: absolute;
    width: 90vw;
    z-index: -11;
    right: 0;
    padding-left: 20px;
    overflow: hidden;
    margin-top: 35%;

    @include mobile() {
        width: 50%;
        margin-top: 19%;
    }




    &__Img {
        width: 135%;


    }
}

.line-cer {
    width: 80%;
    margin: 0 auto;
    height: 2px;
    background: $LightGrayishBlue;
}

.log a {
    color: $DarkGrayishBlue;





}

.content {
    font-family: 'Barlow', sans-serif;
    width: 100%;
    margin-top: 118%;
    font-size: 1em;
    padding-left: 5%;


    @include mobile() {
        width: 100%;
        font-size: 1.5em;
        margin-top: 19%;



    }





}

.blocTitle {
    display: inline-flex;
    width: 100%;
    letter-spacing: 4px;
    margin-bottom: 3%;


    &__back {
        background: black;
        color: $white;
        height: 100%;
        padding: 2% 2%;
        border-radius: 20px;
        justify-items: center;
        margin-top: 1%;



    }

    &__title1 {
        padding: 2%;
        padding-left: 6%;
        color: $GrayishBlue;
        justify-content: center;


        @include mobile() {
            padding-left: 2%;
        }


    }
}

.blocTitle2 {
    width: 100%;
    margin-bottom: 6%;

    &__para1 {
        font-size: 1.7em;
        font-weight: 700;

        @include mobile() {
            font-size: 2em;
            font-weight: 700;
        }


    }

    &__para2 {
        margin-top: 3%;
        font-weight: 500;
        color: $GrayishBlue;
    }
}

.blocbtn {
    width: 100%;
    display: inline-flex;
    margin-bottom: 10%;

    & button {
        background: $Red;
        border: none;
        width: 40%;
        padding: 3% 2%;
        border-radius: 6px;
        color: $white;
        font-size: .7rem;
        font-weight: 700;

        @include mobile() {
            width: 19%;
            font-size: .7em;
            font-weight: 400;
            padding: 0;
            padding: 0;
        }


    }

    & h6 {
        color: $GrayishBlue;
        letter-spacing: 2px;
        margin-left: 3%;
        padding: 2%;
        font-weight: 400;

        @include mobile() {
            letter-spacing: 3px;
            margin-left: 1%;
        }
    }

}

footer {
    margin-bottom: 10%;
}